* {
  margin: 0px;
  padding: 0px;
  /*border: black thin solid;*/
  /*
  Color Theme (https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51)
  #264653
  #2A9D8F
  #E9C46A
  #F4A261
  #E76F51
  */
}

html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #264653;
}

/* Style container for video */
#video-container {
  display: flex;
}

/* Style the video window */
#videoElement {
  margin: 1rem auto;
  border: solid black 0.2rem;
  width: 50%;
}

/* Style container for connection status */
#connection-status-container {
  display: flex;
  margin-bottom: 1rem;
}

#status-label {
  margin-left: 0.5rem;
}

#connection-status {
  margin-left: 1rem;
}

/* Style container for control buttons */
#controls-container {
  width: 75%;
  margin: 0.5rem auto;
  display: grid;
  grid-template: 1 / 1 / span 2 / span 3;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

/* Style each button */
.control-button {
  background-color: #E9C46A;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem 2rem;
}

/* Position each button */
#left-button {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#right-button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#horizontal-home-button {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

#up-button {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#down-button {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#vertical-home-button {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

@media only screen and (max-width: 425px) {
  #controls-container {
    width: 100%;
  }
}