* {
  margin: 0px;
  padding: 0px;
  /*border: black thin solid;*/
  /*
  Color Theme (https://palettes.shecodes.io/palettes/1435#palette)
  */
}

html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #222831;
  color: #eeeeee;
}

/* Style container for video */
#video-container {
  display: flex;
}

/* Style the video window */
#videoElement {
  margin: 1rem auto;
  border: solid black 0.2rem;
  width: 50%;
}

/* Style container for connection status */
#connection-status-container {
  display: flex;
  margin-bottom: 1rem;
}

/* Status label */
#status-label {
  margin-left: 0.5rem;
}

/* Position the connection status word */
#connection-status {
  margin-left: 1rem;
}

/* Style container for control buttons */
#controls-container {
  width: 75%;
  margin: 0.5rem auto;
  display: grid;
  grid-template: 1 / 1 / span 2 / span 3;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

/* Style each control button */
.control-button {
  background-color: #0092ca;
  color: #eeeeee;
  font-size: 1.5rem;
  border: 0.15rem solid black;
  border-radius: 0.5rem;
  padding: 0.25rem 2rem;
}

/* Position each button */
#left-button {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#right-button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#horizontal-home-button {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

#up-button {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#down-button {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#vertical-home-button {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}